<table style="width:100%">
	<tr>
		<th>Author</th>
		<th>Title</th>
		<th>Body</th>
		<th>Published</th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td><%= post.author %></td>
		<td><%= post.title %></td>
		<td><%= post.body %></td>
		<td><%= post.published %></td>
	</tr>
	<% end %>
</table>

